<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vue起步</title>
</head>
<body>
	<!-- <div id="app" v-html="rawHtml"> -->
	<div id="app">
		{{message | capitalize}}
	</div>
	<div id="app2">
		<p v-if="seen">Now you see me</p>
		<ul>
			<li v-for="list in listData">
				{{list.text}}
			</li>
		</ul>
		<p>{{message}}</p>
		<input type="text" v-model="message">
		<button type="button" @click="reverseMessage">颠倒顺序</button>
		<!-- v-on:click == @click -->
	</div>
	<div id="app3">
		<ul>
			<todo-item v-for="item in groceryList" :todo="item"></todo-item>
			<!-- v-bind:todo == :todo -->
		</ul>
	</div>
	<div id="app5" v-bind:class="classObject"></div>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script src="../dist/js/component.js"></script>
	<script src="../dist/js/index.js"></script>
</body>
</html>